/* Green color scheme */

/* .react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; } */

/* Blue color scheme */

.react-calendar-heatmap .color-scale-1 { fill: #b6e3ff; }
.react-calendar-heatmap .color-scale-2 { fill: #54aeff; }
.react-calendar-heatmap .color-scale-3 { fill: #0969da; }
.react-calendar-heatmap .color-scale-4 { fill: #0969da; }